@use 'variaveis';

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin espacamento($m, $p) {
    margin: $m;
    padding: $p;
}

@mixin texto($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin div-config($cor, $borda, $radius) {
    background-color: $cor;
    border: 1px solid $borda;
    border-radius: $radius;
}

@mixin borda-x($direita, $esquerda) {
    border-right: 1px solid $direita;
    border-left: 1px solid $esquerda;
}

@mixin borda-y($top, $bottom) {
    border-top: 1px solid $top;
    border-bottom: 1px solid $bottom;
}

@mixin flex($direction, $justify, $align, $wrap, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin grid() {
    display: grid;
}

@mixin link($decoration) {
    text-decoration: $decoration;
    color: variaveis.$cor_texto;
}