@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin margem($m, $p) {
    margin: $m;
    padding: $p;
}

@mixin texto($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin borda-total($cor, $radius) {
    border: 1px solid $cor;
    border-radius: $radius;
}

@mixin borda-x($direita, $esquerda) {
    border-right: 1px solid $direita;
    border-left: 1px solid $esquerda;
}

@mixin borda-y($top, $bottom) {
    border-top: 1px solid $top;
    border-bottom: 1px solid $bottom;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid() {
    display: grid;
}