$cor_texto: rgb(52, 52, 52);
$branco: white;
$preto: black;
$cor_escura: rgb(47, 93, 178);
$cor_principal: #04a4da51;
$cinza_hover: rgba(165, 165, 165, 0.174);

$pequeno: 14px;
$medio: 18px;
$grande: 30px;

$margem_pc: 2rem 10rem;
$margem_tablet: 2rem 3rem;

$nuvem: rgba(255, 255, 255, 0.69);