@use 'mixins';
@use 'variaveis';

/* Estilizações Gerais */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Biryani:wght@200;300;400;600;700;800;900&family=Imprima&family=Manjari:wght@100;400;700&family=Metrophobic&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    @include mixins.espacamento(0, 0);
    @include mixins.texto(variaveis.$pequeno, 400);
    font-family: "Metrophobic", sans-serif;
    color: variaveis.$cor_texto;
}

// Coisas que SÓ aparecerão no mobile
.mobile_show {
    display: none;
}

// Coisas que NÃO aparecerão no mobile
.mobile_hide {
    display: block
}

#header_container {
    @include mixins.espacamento(1rem 15rem, 0); 
}

#logos {
    @include mixins.espacamento(0, 1rem 0);
    @include mixins.flex(row, none, center, wrap, 8%);
}

#nav-bar {
    @include mixins.flex(row, center, center, nowrap, 10px);
    @include mixins.div-config(variaveis.$cor_principal, variaveis.$cor_secundaria , 50px);
    @include mixins.espacamento(2rem 0, 7px);
    @include mixins.size(100%, auto);

    img, svg {
        @include mixins.size(1.875rem, 1.875rem);
    }

    button:hover {
        @include mixins.div-config(variaveis.$cor_escura, transparent, 6px);
    }

    a {
        @include mixins.link(none);
    }

    .menu li {
        @include mixins.div-config(variaveis.$cor_secundaria, transparent,  10px);
        @include mixins.espacamento(5px, 5px);
        color: white;

        a {
            color: white;
        }
        
        li, a:hover {
            @include mixins.div-config(variaveis.$cor_escura, variaveis.$cor_secundaria, 6px);
        }
    }
}

// header {
//     background-color: rgba(13, 169, 220, 1);
//     @include mixins.borda-y(none, variaveis.$cor_principal);
// }

// main {
//     background: url('../imagens/background.jpg') no-repeat center;
//     position: absolute;
//     z-index: -100;
//     width: 100%;
// }

/* Desktop */
@media screen and (min-width:1024px) {
    #header_container {
        @include mixins.espacamento(1% 10%, 0); 
    }
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:1023px){
    #header_container {
        @include mixins.espacamento(0 , 0); 
    } 
}

/* Celular */
@media screen and (max-width:767px) {
    .mobile_show {
        display: block;
    }

    .mobile_hide {
        display: none;
    }

    #header_container {
        @include mixins.espacamento(0 , 0); 
    }

    #logos {
        @include mixins.flex(row, center, center, 2rem, wrap);

        img:first-child {
            margin-bottom: 1rem;
        }
    }

    #nav-bar {
        @include mixins.div-config(transparent, transparent, 0);
        @include mixins.flex(column, center, start, nowrap, 10px);
    }
}