$cor_texto: rgb(52, 52, 52);
$branco: white;
$preto: black;
$cor_principal: #0CA9DE;
$cor_clara: #18c5ff69;
$cor_escura: rgb(47, 93, 178);
$cinza_hover: rgba(165, 165, 165, 0.174);
$nuvem: rgba(255, 255, 255, 0.69);

$pequeno: 14px;
$medio: 18px;
$grande: 30px;