@use "mixins";
@use "variaveis";

/* Estilizações Gerais */
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Biryani:wght@200;300;400;600;700;800;900&family=Imprima&family=Manjari:wght@100;400;700&family=Metrophobic&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

* {
  @include mixins.espacamento(0, 0);
  @include mixins.texto(variaveis.$pequeno, 400);
  font-family: "Metrophobic", sans-serif;
  color: variaveis.$cor_texto;
}

html,
body {
  height: 100%;
}

#header_container {
  @include mixins.flex(space-around, 20px, row, start);
  @include mixins.espacamento(2rem auto, 0);
}

#cabecalho {
  @include mixins.flex(start, 20px);

  img {
    @include mixins.size(100px, 50px);
  }

  h1 {
    @include mixins.texto(30px, 500);
    @include mixins.espacamento(0, 0);
  }
}

.titulo-cabecalho{
  text-decoration: none;
  color: variaveis.$cor_texto;
}

.titulo-cabecalho:hover{
  color: variaveis.$cor_texto;
  text-decoration: none;
}


#nav-bar {
  @include mixins.flex(end, 0);

  img,
  svg {
    @include mixins.size(1.875rem, 1.875rem);
    margin-right: 7px;
  }

  #logo {
    @include mixins.size(45px, 25px);
  }

  button {
    @include mixins.flex(center, 0);

    &:hover,
    &:focus {
      @include mixins.div-config(variaveis.$cinza_hover, transparent, 7px);
    }

    a {
      @include mixins.link(none);
      margin-right: 5px;
    }
  }

  .dropdown-item {
    &:hover {
      @include mixins.div-config(variaveis.$cinza_hover, transparent, 0);
    }
  }
}

// Classe necessária por causa do bootstrap
.hr-normal {
  @include mixins.espacamento(0, 0);
  color: variaveis.$cor_escura;
  opacity: 1;
}

// Foto de background
main {
  background: url("../assets/background.jpg") no-repeat center;
  background-size: cover;
}

.main_container {
  .home {
    #video_home {
      @include mixins.div-config(none, transparent, 20px);
    }

    p {
      @include mixins.div-config(variaveis.$nuvem, variaveis.$cor_escura, 20px);
      @include mixins.espacamento(0, 3%);
    }
  }

  .video {
    @include mixins.div-config(none, transparent, 20px);
  }

  .div_manutencao {
    @include mixins.flex(center, 0);

    .manutencao {
      @include mixins.size(100%, auto);
      @include mixins.div-config(variaveis.$nuvem, variaveis.$cor_escura, 30px);
    }
  }
}

.page_not_found {
  @include mixins.size(100%, fit-content);
  @include mixins.flex(center, 0);
  margin-top: 3rem;

  img {
    @include mixins.size(70%, auto);
    @include mixins.div-config(transparent, transparent, 20px);
  }
}

.body-cadastro {
  background: transparent !important;

  .container {
    @include mixins.espacamento(auto, 4rem 0);
  }

  h4 {
    text-decoration: underline;
    margin-bottom: 15px;
  }

  .btn {
    color: variaveis.$cor_principal;
    border-color: variaveis.$cor_principal;

    &:hover {
      @include mixins.div-config(
        variaveis.$cor_principal,
        variaveis.$cor_escura,
        auto
      );
    }

    // &:focus {
    //   @include mixins.div-config(variaveis.$cor_escura, variaveis.$cor_escura, auto);
    //   color: variaveis.$branco;
    // }
  }
}

.lista-integrantes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 50px;

  #card {
    width: 280px;
    @include mixins.flex(center, 0, column);
    margin: auto;

    .foto_integrante {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);

      @include mixins.size(100%, 21.875rem);
      @include mixins.div-config(none, variaveis.$cor_escura, 20px);
      object-fit: cover;
    }
  }

  #card:nth-child(5) {
    grid-column: span 2;
  }

  .icone {
    @include mixins.size(25px, 25px);
    margin-right: 5px;
  }

  h2 {
    margin-top: 10px;
  }

  a {
    @include mixins.link(underline);

    &:hover {
      color: variaveis.$cor_escura;
    }
  }
}

footer {
  width: 100%;
  background-color: variaveis.$cor_clara;
  @include mixins.espacamento(0, 3rem 0);

  .div-footer {
    @include mixins.flex(center, 0, column);

    ul {
      // Espacamento necessario por causa do bootstrap
      @include mixins.espacamento(0, 0);

      li {
        list-style: none;
        text-align: center;

        a {
          @include mixins.link(underline);

          &:hover {
            color: variaveis.$cor_escura;
          }
        }
      }
    }

    h3 {
      margin-top: 10px;
    }

    .div-icone {
      padding: 15px;
      @include mixins.div-config(
        variaveis.$nuvem,
        variaveis.$cor_escura,
        100px
      );
      max-width: fit-content;
      max-height: fit-content;

      img {
        @include mixins.size(20px, 20px);

        &:last-child {
          @include mixins.size(25px, 25px);
        }
      }
    }
  }

  .parceria {
    @include mixins.flex(center, 10px, column);
    @include mixins.div-config(variaveis.$nuvem, variaveis.$cor_escura, 10px);
    @include mixins.espacamento(0, 10px);

    img {
      @include mixins.size(150px, 36px);
    }
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  // Foto de background
  main {
    min-height: 1000px;
  }

  .main_container {
    @include mixins.espacamento(5rem 5%, 0);

    h1 {
      margin-bottom: 2rem;
    }

    .video {
      @include mixins.size(100%, 50rem);
      @include mixins.espacamento(2rem 0, 0);
    }

    .home {
      @include mixins.flex(none, 7%);
      @include mixins.size(auto, 43rem);

      #video_home {
        @include mixins.size(80%, 100%);
      }

      p {
        @include mixins.size(50%, fit-content);
      }
    }

    .div_manutencao {
      .manutencao {
        @include mixins.size(80%, auto);
      }
    }
  }

  .footer_container {
    @include mixins.flex(space-around, 0, row, start);
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #header_container {
    @include mixins.flex(auto, 0, column, start);

    #cabecalho {
      @include mixins.espacamento(1rem 6%, 0);
    }

    .navbar {
      @include mixins.flex(center, 0, center);
      width: 100%;
      margin-top: 1rem;

      .dropdown-menu {
        position: absolute !important;
      }
    }
  }

  .navbar-toggler {
    display: none;
  }

  // Todas as classes do nav pq não sei o que cada uma faz no bootstrap :)
  .collapse,
  .navbar-collapse,
  .navbar-nav,
  #nav-bar,
  #navbarNavDarkDropdown {
    @include mixins.flex(center, 0, row, center);
  }

  .main_container {
    @include mixins.espacamento(4rem 10%, 0);

    h1 {
      margin-bottom: 3rem;
    }

    .video {
      @include mixins.size(100%, 30rem);
      @include mixins.espacamento(2rem 0, 0);
    }

    .home {
      @include mixins.flex(center, 50px, column);
      @include mixins.size(100%, auto);

      #video_home {
        @include mixins.size(100%, 30rem);
      }

      p {
        @include mixins.size(100%, fit-content);
      }
    }
  }

  .footer_container {
    @include mixins.espacamento(0, 0 5%);
    @include mixins.flex(space-between, 0, row, start);
  }
}

/* Celular */
@media screen and (max-width: 767px) {
  #header_container {
    @include mixins.flex(space-around, 20px, column, start);
    @include mixins.espacamento(2rem, 0);
  }

  #nav-bar {
    @include mixins.div-config(transparent, transparent, 0);
    @include mixins.flex(center, 10px, column, start);
    @include mixins.espacamento(1.5rem 0, 0);

    .dropdown-menu {
      @include mixins.espacamento(10px 0, 0);
    }
  }

  // Foto de background
  main {
    min-height: 50rem;
  }

  .main_container {
    @include mixins.espacamento(0 5%, 0);

    h1 {
      @include mixins.espacamento(3rem 5% 2rem 5%, 0);
    }

    .video {
      @include mixins.size(100%, 25rem);
    }

    .home {
      @include mixins.flex(center, 20px, column);
      margin-bottom: 3rem;

      p {
        @include mixins.size(100%, auto);
        @include mixins.espacamento(0, 1rem);
      }

      #video_home {
        @include mixins.size(100%, 25rem);
        @include mixins.div-config(none, transparent, 20px);
        @include mixins.espacamento(2rem 0, 0);
      }
    }
  }

  // Nossa Equipe
  .lista-integrantes {
    @include mixins.flex(auto, 50px, column, center, wrap);

    #card {
      max-width: 280px;
      @include mixins.flex(center, 0, column);

      .foto_integrante {
        max-width: 280px;
      }
    }

    h2 {
      margin-top: 1rem;
    }

    a {
      word-wrap: break-word;
    }
  }

  // Candidate-se
  #cadastro_container {
    @include mixins.espacamento(auto 1rem, 0);
  }

  footer {
    width: 100%;

    .footer_container {
      @include mixins.flex(space-around, 3rem, column, center);
    }
  }

  // 404
  .page_not_found {
    img {
      @include mixins.size(100%, auto);
    }
  }
}
